.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.text-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.tech-stack-scroll::-webkit-scrollbar {
  height: 6px;
}

.tech-stack-scroll::-webkit-scrollbar-thumb {
  background-color: teal;
  border-radius: 6px;
}

.tech-stack-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.tech-stack-scroll {
  scrollbar-width: thin;
  scrollbar-color: teal transparent;
}

img {
  max-width: 100%;
  height: auto;
}

img.object-contain {
  object-fit: contain;
}
/* .mobile_menu{
  block text-lg cursor-pointer hover:text-gray-300 hover:scale-95 transition-transform duration-300
} */